/* You can add global styles to this file, and also import other style files */
body {
    background-color: #171717;
}

/*  scroll bar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #303030;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(155, 4, 4, 0.959);
    border-radius: 12px;
  }
  